.jumbotron{
    background: url(https://www.xmple.com/wallpaper/gradient-white-blue-linear-1920x1080-c2-faebd7-e0ffff-a-165-f-14.svg) center center / cover no-repeat;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}